/*
!/alacritty/
/alacritty/local.toml
/alacritty/colors/current.toml
!/brew-aliases/
/brew-aliases/*
!/brew-aliases/.gitkeep
!/docker/
!/git/
/git/local-config
!/lua/
!/macos/
!/misc/
!/pandoc/
!/python/
!/rustfmt/
!/ssh/
/ssh/id_*
!/tmux/
